*{
	margin: 0;
	padding: 0;
	list-style: none;
}
.container{
	height: 100vh;
	width: 100%;
	background-image: url('C:/Users/Bornare/Desktop/Sublime Projs/Airlines/bg2.jpg');
	background-position: center;
	background-size: cover;
	padding-left: 5%;
	padding-right: 5%;
	box-sizing: border-box;
	position: relative;
}
.navbar{
	width: 100%;
	height: 15vh;
	margin: auto;
	display: flex;
	align-items: center;
}
.logo{
	width: 160px;
	cursor: pointer;
}
nav{
	flex: 1;
	padding-left: 560px;
}
nav ul li{
	display: inline-block;
	list-style: none;
	margin: 0px 20px;
}
nav ul li a{
	text-decoration: none;
	color: #120057;
}
.content h1{
	font-size: 50px;
	font-weight: 100;
	margin-top: 40px;
	
	margin-left: -5px;
	color: #1b5892;
}
.content p{
	font-size: 20px;
	color: #032747;
}
.content{
	margin-left: 5%;
	margin-top: 10%;
}
.content .btn{
	display: inline-block;
	background: linear-gradient(45deg, #87adfe, #8633f1);
	border-radius: 6px;
	padding: 10px 20px;
	box-sizing: border-box;
	text-decoration: none;
	color: #fff;
	box-shadow: 3px 8px 22px rgba(94, 28, 68, 0.15);
}
.social-links{
	position: absolute;
	left: 110px;
	top: 480px;
}
.social-links ul{
	display: flex;
}
.social-links ul li{
	position: relative;
	display: block;
	color: #666;
	font-size: 30px;
	height: 60px;
	width: 60px;
	
	line-height: 50px;
	border-radius: 50%;
	margin: 0 15px;
	cursor: pointer;
	transition: .5s;
}
.social-links ul li:before{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	height: inherit;
	width: inherit;
	border-radius: 50%;
	transform: scale(.9);
	z-index: -1;
	transition: .5s;
}
.social-links ul li:nth-child(1):before{
	background: #4267b2;
}
.social-links ul li:nth-child(2):before{
	background: #e1306c;
}
.social-links ul li:nth-child(3):before{
	background: #1da1f2;
}
.social-links ul li:nth-child(4):before{
	background: #2867b2;
}
.social-links ul li:hover:before{
	filter: blur(3px);
	transform: scale(1.2);
}
.social-links ul li:nth-child(1):hover:before{ /*facebook*/
	box-shadow:0 0 15px #4267b2;
}
.social-links ul li:nth-child(2):hover:before{ /*insta*/
	box-shadow:0 0 15px #e1306c;
}
.social-links ul li:nth-child(3):hover:before{ /*twitter*/
	box-shadow:0 0 15px #1da1f2;
}
.social-links ul li:nth-child(4):hover:before{ /*linkedin*/
	box-shadow:0 0 15px #2867b2;
}

.social-links ul li:nth-child(1):hover{ 
	color: #456cba;
	box-shadow:0 0 15px #4267b2;
	text-shadow: 0 0 15px #4267b2;
}
.social-links ul li:nth-child(2):hover{ 
	color: #e23670;
	box-shadow:0 0 15px #e1306c;
	text-shadow: 0 0 15px #e1306c;
}
.social-links ul li:nth-child(3):hover{ 
	color: #26a4f2;
	box-shadow:0 0 15px #1da1f2;
	text-shadow: 0 0 15px #1da1f2;
}
.social-links ul li:nth-child(4):hover{ 
	color: #2a6cbb;
	box-shadow:0 0 15px #2867b2;
	text-shadow: 0 0 15px #2867b2;
}
